node_modules
.DS_Store
dist
dist-ssr
*.local

# Next.js specific
.next/
out/
build/

# Prisma
/generated/prisma
# Sometimes the schema creates a sqlite file or engines
*.db
*.db-journal

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vercel
.vercel