/* [project]/src/app/globals.css [app-client] (css) */
@layer properties {
  @supports (((-webkit-hyphens: none)) and (not (margin-trim: inline))) or ((-moz-orient: inline) and (not (color: rgb(from red r g b)))) {
    *, :before, :after, ::backdrop {
      --tw-border-style: solid;
      --tw-blur: initial;
      --tw-brightness: initial;
      --tw-contrast: initial;
      --tw-grayscale: initial;
      --tw-hue-rotate: initial;
      --tw-invert: initial;
      --tw-opacity: initial;
      --tw-saturate: initial;
      --tw-sepia: initial;
      --tw-drop-shadow: initial;
      --tw-drop-shadow-color: initial;
      --tw-drop-shadow-alpha: 100%;
      --tw-drop-shadow-size: initial;
    }
  }
}

.col-span-6 {
  grid-column: span 6 / span 6;
}

.container {
  width: 100%;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.inline {
  display: inline;
}

.table {
  display: table;
}

.flex-1 {
  flex: 1;
}

.grid-cols-6 {
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.justify-center {
  justify-content: center;
}

.justify-self-center {
  justify-self: center;
}

.border {
  border-style: var(--tw-border-style);
  border-width: 1px;
}

.text-center {
  text-align: center;
}

.filter {
  filter: var(--tw-blur, ) var(--tw-brightness, ) var(--tw-contrast, ) var(--tw-grayscale, ) var(--tw-hue-rotate, ) var(--tw-invert, ) var(--tw-saturate, ) var(--tw-sepia, ) var(--tw-drop-shadow, );
}

main {
  text-align: center;
  vertical-align: center;
  line-height: 100vh;
}

body {
  margin: 0;
}

parent {
  white-space: nowrap;
  width: 100%;
  height: 70px;
  overflow-x: auto;
}

.child {
  background-color: #fff;
  width: 15%;
  height: 40%;
  display: inline-block;
}

.backgroundGrey {
  background-color: #d3d3d3;
}

.backgroundLightBlue {
  background-color: #add8e6;
}

.container {
  padding: 0 3rem;
}

#dropdown-content {
  z-index: 1;
  background-color: #fff;
  min-width: 160px;
  display: none;
  position: absolute;
  box-shadow: 0 8px 16px #0003;
}

@property --tw-border-style {
  syntax: "*";
  inherits: false;
  initial-value: solid;
}

@property --tw-blur {
  syntax: "*";
  inherits: false
}

@property --tw-brightness {
  syntax: "*";
  inherits: false
}

@property --tw-contrast {
  syntax: "*";
  inherits: false
}

@property --tw-grayscale {
  syntax: "*";
  inherits: false
}

@property --tw-hue-rotate {
  syntax: "*";
  inherits: false
}

@property --tw-invert {
  syntax: "*";
  inherits: false
}

@property --tw-opacity {
  syntax: "*";
  inherits: false
}

@property --tw-saturate {
  syntax: "*";
  inherits: false
}

@property --tw-sepia {
  syntax: "*";
  inherits: false
}

@property --tw-drop-shadow {
  syntax: "*";
  inherits: false
}

@property --tw-drop-shadow-color {
  syntax: "*";
  inherits: false
}

@property --tw-drop-shadow-alpha {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 100%;
}

@property --tw-drop-shadow-size {
  syntax: "*";
  inherits: false
}

/*# sourceMappingURL=src_app_globals_91e4631d.css.map*/