@tailwind base;
@tailwind components;
@tailwind utilities;


main {
  text-align: center;
  vertical-align: center;
  line-height: 100vh
}
body{
  margin: 0
}
parent {
    width: 100%;
    height: 70px;
    white-space: nowrap;
    overflow-x: auto;
}
.child {
    display: inline-block;
    width: 15%;
    height: 40%;
    background-color:white
}
.backgroundGrey{
  background-color:lightgrey
}
.backgroundLightBlue{
  background-color: lightblue;
}
.container{
  padding: 0 3rem;
}

#dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
