@tailwind base;
@tailwind components;
@tailwind utilities;


main {
  text-align: center;
  vertical-align: center;
  line-height: 100vh
}
body{
  margin: 0
}
parent {
    width: 100%;
    height: 70px;
    white-space: nowrap;
    overflow-x: auto;
}
.child {
    display: inline-block;
    width: 15%;
    height: 40%;
    background-color:white
}
.backgroundGrey{
  background-color:lightgrey
}
.backgroundLightBlue{
  background-color: lightblue;
}
.container{
  padding: 0 3rem;
}